@model Lab5.Models.ViewModels.VacanciesListViewModel

<div class="row">
    <div class="col-12">
        <h2>Vacancies</h2>
        @if (User.IsInRole("Admin"))
        {
            <a asp-action="Create" asp-controller="Vacancy" class="btn btn-primary mb-3">Create New Vacancy</a>
        }
        @foreach (var vacancy in Model.Vacancies)
        {
            <partial name="VacancySummary" model="vacancy" />
        }
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        @if (Model.PagingInfo.TotalPages > 1)
        {
            <nav aria-label="Page navigation">
                <ul class="pagination d-inline-flex">
                    @for (int i = 1; i <= Model.PagingInfo.TotalPages; i++)
                    {
                        <li class="page-item @(i == Model.PagingInfo.CurrentPage ? "active" : "")">
                            <a class="page-link" asp-action="Index" asp-route-page="@i" asp-route-category="@Model.CurrentCategory">@i</a>
                        </li>
                    }
                </ul>
            </nav>
        }
    </div>
</div>